html {font-family:Verdana, Geneva, Tahoma, sans-serif;}

body {background-image: url("gymroom.jpeg"); background-size: cover;}






h1 {color:blueviolet; }



.page {color: yellow; font-weight: bold;}

.storyzone {background-color:dimgray; padding:20px; margin: 30px;} 

.prop1 {width:140px; margin: 30px;}

.prop2 {width:140px; margin: 30px;}

.head{background-color:dimgray; padding: 30px; margin: 40px ;}


.minion {width:800px;}

h1 {text-align: center;}

.mainzone {display: flex; align-items:normal; gap: 80px; padding: 90px;}